.img{
    animation: floatImage 4s ease-in-out infinite ;
    margin-left: 78px;
  
}


@keyframes floatImage{
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-1.5rem);
    }

    100%{
        transform: translateY(0);
    }
}