.menunav{
    
        height: 190px;
        width:  90px;
        margin-left: 10px;
        position: fixed;
        top: 30%;
        width: 40px;
        font-size: 20px;
        
        
    
}
.menu{
    background-color: rgb(17, 235, 9);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(108, 221, 86);
    
}

.icon{
    color: rgb(8, 12, 7);
    padding: 6px;
   
    
}

